@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h5>Since the founding of this site, there have been three main motivations:</h5>
<ul>
    <li>The developer of the application could get practice</li>
    <li>The children of the family could enjoy whatever they could imagine on a website and become inspired</li>
    <li>The family members could journal and share their growth and special moments in life with one another and friends</li>
</ul>
<p>So far, these conditions have been satisfactorily met, and as long as they remain so will the site.</p>
