@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>

<address>
    4211 Cherry Laurel dr<br />
    Pensacola, Fl 32504<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rcq1@students.uwf.edu">rcq1@students.uwf.edu</a><br />
</address>