
@{
    ViewBag.Title = "LearnMore";
}

<h2>Learn More</h2>
<br/>
<div class="row">
    <div class="col-md-8">
        <p><strong>*Note*:</strong> This website is under construction.  If you are a family member and wish to be added to this site please click 'contact us' on the navigation bar and let us know!</p>
    </div>
</div>
<br/>
<p>This website is dedicated to a growing family of multiple surnames. Use the menu on the navigation bar to see and explore a list of family members and their pages.
   Multiple functions are and will be built into this application, along with a database to store and retrieve needed information.  If you have any suggestions click
   'contact us' and share your feedback.</p>

